* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body > {
    /*width: 100%;*/
}
.alert-info{
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 1em;
}
h1 {
    margin: 0;
    text-align: center;
}
.header-img img {
    width: 95vw;
    border: 2px black solid;
    object-fit: cover;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
    background-color: lightgray;
    margin: .5em 0;
    padding: .5em;
    text-align: center;
}
.sub-section {
    font-style: italic;
}