* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alert-info{
    width: 100%;
    background-color: lightblue;
}
h1 {
    text-align: center;
}
.header-img img {
    width: 100vw;
    border: 2px black solid;
    object-fit: cover;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
    background-color: lightgray;
    margin: .5em;
    padding: .5em;
    text-align: center;
}
nav {
    /*display: flex;*/
    /*justify-content: center;*/
}