* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert-info{
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 1em;
}
h1 {
    margin: 0;
    text-align: center;
}
.header-img {
    align-items: center;
    width: 100%;
}
.header-img img {
    width: 100%;
    border: 2px black solid;
    object-fit: cover;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
    background-color: lightgray;
    margin: .5em 0;
    padding: .5em;
    text-align: center;
}
.sub-section {
    font-style: italic;
}
footer{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
i{
    opacity: .6;
    margin: auto .5em;
}
footer p{
    margin: 0;
}
 @media screen and (min-width: 992px){
     .hidden-on-desktop{
         display: none;
     }
     body{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     ul li{
         display: inline;
     }
     .header-img img{
         flex-grow: 1;
         aspect-ratio: auto;
     }
     section {
         width: 50%;
     }
     section.main {
         padding-right: 1em;
     }
     footer{
         margin-top: 5em;
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
 }